.splash-container{
    height:100vh;
    /* background: blue; */
    /* margin-top: 0px; */
    background-image: url('../../assets/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}

.text{
    margin-top: 0px;
    text-align: center;
    padding-top: 25vh;
}

h2{
    margin-top:0;
}
